.phototools-wrap {
    display: flex;
}

.phototools-wrap-left,
.phototools-wrap-right {
        margin-right: 30px;
        width: 48%;
        min-width: 400px;
}


.phototools-showcomment,
.phototools-showpost {
    display: flex;
    margin-bottom: 2px;
    padding-left: 60px;
    padding-right: 60px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: top left;
    min-height: 50px;
    align-items: center;
}

.phototools-column {
        flex-direction: column;
}

.phototools-showcomment:nth-child(even),
.phototools-showpost:nth-child(even) {
    background-color: #f5f5f5;
}

.phototools-showcomment .text,
.phototools-menu .text,
.phototools-showpost .text {
    margin-top: 0;
    display: inline-block;
    left:0;
    right:0;
    overflow: hidden;
    width: 100%;
}

.phototools-menu {
    width:50px;
    height: 50px;
    position: absolute;
    right: 1em;;
    align-items: center;
    color: silver;
}
.phototools-menu a { color: silver; }
.phototools-menu a:hover {color: Black;} 

.phototools-showcomment {
        padding-right: 0;
}

.phototools-showcomment .row-actions {
    left: 0;
    text-align: right;
    opacity: 0.5;
}

.phototools-showcomment .row-actions:hover { 
	opacity: 1;
}
